{# @var plugin \site7\studio\Site7Studio #}
{# @var settings \site7\studio\models\Settings #}

{% import "_includes/forms" as forms %}

<p>Site7 Studio foundation settings will be configured in future sprints.</p>
