{% extends "_layouts/cp" %}
{% set title = "Templates" %}
{% set selectedSubnavItem = "templates" %}



{% block toolbar %}
    <div class="flex flex-nowrap align-center" style="width: 100%;">
        <div class="flex-grow">
            <div class="texticon search icon clearable">
                {{ tag('input', {
                    id: 'site7-search-input',
                    type: 'text',
                    class: 'text fullwidth',
                    placeholder: 'Search templates...',
                    'aria-label': 'Search',
                }) }}
                <div class="clear hidden" title="Clear"></div>
            </div>
        </div>
        <div class="btn menubtn" data-icon="filter">{{ "Filter"|t('site7-studio') }}</div>
    </div>
{% endblock %}

{% block content %}
    {% include "site7-studio/_components/empty-state" with { 
        message: 'No Templates Installed',
        subtext: 'Get started by creating a new template or installing one from the marketplace.',
        icon: '📄',
        actionLabel: 'Create Template',
        actionUrl: '#'
    } only %}
{% endblock %}
